.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
}
/* Initial state */
.bg-blue-transparent {
  transition: background-color 0.3s, border 0.3s;
  border-radius: 10%;
  border: 1px solid transparent; /* Ensure there's a border initially */
}

/* Hover state */
.bg-blue-transparent:hover {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  border: 1px solid white; /* Change border color on hover */
}

.circle {
  width: 20vw;
  height: 20vw;
  -webkit-animation: move 25s infinite alternate;
  animation: move 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);  
}
.circle-small {
  width: 15vw;
  height: 15vw;
  -webkit-animation: move 25s infinite alternate;
  animation: move 16s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

.circle:hover {
  width: 520px;
  height: 520px;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  box-shadow:
    inset 0 0 0 5px rgba(255,255,255, 0.6),
    inset 100px 100px 0 0px #a5b4fc,
    inset 200px 200px 0 0px #0ea5e9 #3b82f6,
    inset 300px 300px 0 0px #a5b4fc;
}

.typed-out {
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #FFFFFF;
  animation: typing 3.5s steps(60, end) infinite, blinking .8s infinite;
  width: 0;
}

@keyframes typing {
  0% { width: 0 }
  90% { width: 100% } /* Adjusted to leave a small delay at the end */
  100% { width: 100%; animation-timing-function: step-end; } /* Ensure it ends with complete typing */
}

@keyframes blinking {
  from { border-color: transparent }
  to { border-color: #FFFFFF }
}


@-webkit-keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(0px, 10px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(40px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

#navToggle {
  z-index: 20;
}
/* Define styles for the sidebar */
#mobileNavLinks {
  transition: transform 0.3s ease-in-out;
}

/* Class to translate sidebar off-screen on smaller screens */
.translate-x-full {
  transform: translateX(100%);
}

.translate-x-0 {
  transform: translateX(0);
}

.animate__animated {
  --animate-duration: 1s;
  --animate-timing-function: ease-in-out;
}
