body{
    margin: 0px;
    padding: 0px;
    background-color: #FAF8F8;
    }
    ul {
        list-style-type: none;
        margin: 0px;
        padding:0px;
        width: 100%;
        overflow: hidden;
        background-color: #57B3BE;
      }
      
      li {
        float: left;
      }
      li a {
        display: block;
        color:#ffff;
        text-align: center;
        padding: 25px 16px;
        text-decoration: none;
        text-align:center;
        font-family: Arial;
        font-weight: bold;
        margin-right: 30px;
      }
      
      li a:hover {
        background-color: #17252A;
        color: white;
    }
    #home{
        height: 720px;
        width: 100%;
        padding: 0px;
        background-color: #57B3BE;
    
    }
    #Frame28{
        padding-top: 140px;
        padding-left: 55px;
    }
    #About{
        height: 800px;
        width: 100%;
        padding: 0px;
        margin-top: 200px;
        background-color: #FAF8F8;
    }
    #row4{
        width: 300px;
        height: 200px;
        margin-left: 150px;
        margin-top: 100px;
        background-image: url(Frame\ 27.png);
        border-radius: 10px 10px 10px 10px;

    }
    #row5{
        width: 300px;
        height: 200px;
        margin-left: 150px;
        margin-top: 50px;
        background-image: url(Frame\ 26.png);
        border-radius: 10px 10px 10px 10px;
    }
    #row6{
        width: 300px;
        height: 200px;
        margin-left: 150px;
        margin-top: 50px;
        background-image: url(Frame\ 25.png);
        border-radius: 10px 10px 10px 10px;
    }
    #row7{
        width: 668px;
        height: 623px;
        margin-left: 800px;
        margin-top: -650px;
        background-image: url(Frame\ 24.png);
        border-radius: 20px 20px 20px 20px;
    }
    #row4:hover{
        box-shadow: 10px 10px #232020;
        transform: translate(-10px, -20px);
    }
    #row5:hover{
        box-shadow: 10px 10px #232020;
        transform: translate(-10px, -20px);
    }
    #row6:hover{
        box-shadow: 10px 10px #232020;
        transform: translate(-10px, -20px);
    }
    #Projects{
        height: 2300px;
        width: 100%;
        padding: 0px;
        background-color: #DEF2F1;
    }
    #row8{
        width: 503px;
        height: 340px;
        margin-left: 85px;
        margin-top: 200px;
        background-image: url(Mockup\ 1.png);
    }
    #row9{
        width: 652px;
        height: 390px;
        margin-left: 807px;
        margin-top: -360px;
        background-image: url(outside\ 1.png);
        border-radius: 20px 20px 20px 20px;
    }
    #row10{
        width: 652px;
        height:  370px;
        margin-left: 807px;
        margin-top: 50px;
        background-image: url(inside\ 1.png);
    }
    #row11{
        width: 500px;
        height: 590px;
        margin-left: 85px;
        margin-top: 110px;
        background-image: url(poster\ 1.png);
        border-radius: 20px 20px 20px 20px;
    }
    #row12{
        width: 475px;
        height: 158px;
        margin-left: 788px;
        margin-top: -220px;
        font-family: 'Arial';
        font-size: 16px;
    }
    #row13{
        width: 475px;
        height: 158px;
        margin-left: 85px;
        margin-top: 350px;
        font-family: 'Arial';
        font-size: 16px;
    }
    #row14{
        width: 475px;
        height: 158px;
        margin-left: 788px;
        margin-top: -250px;
        font-family: 'Arial';
        font-size: 16px;
    }
    #Social{
        height: 168px;
        width: 120%;
        padding: 0px;
        background-color: #57B3BE;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }